page {
	background-color: #000000;
}

.slot-wrap {
	display: flex;
	align-items: center;
	flex: 1;
	padding: 0 30rpx;
	background-color: #000000;
}

.swiper-box {
	width: 100vw;
	height: calc(100vh - 180rpx);
	
}

.scroll-view {
	width: 100%;
	height: 100%;
}

.topbtns {
	padding: 20rpx 30rpx;
	box-sizing: border-box;
	background-color: #fff;
	color: #999;
}

.topbtns .topbtn {
	text-align: center;
	line-height: 55rpx;
	width: 140rpx;
	border: 1rpx solid #eee;
	margin-right: 20rpx;
}

.topbtns .active {
	background-color: rgba(42,194,179, 0.4);
	color: #00e1db;
	border: 1rpx solid #cbfbff;
	
}

.pl_header {
	width: 95%;
	margin: 20rpx;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	font-size: 28rpx;
}

.pl_duihuan {
	width: 48%;
	padding: 20rpx;
	background-image: url('https://img.alicdn.com/imgextra/i3/2215984279448/O1CN01Jc69lY2JfEt2sFHdt_!!2215984279448.png');
	background-size: 100% 100%;
	color: #00e1db;
	display: flex;
	justify-content: space-between;
}
.pl_duihuan .left {
	
}
.pl_duihuan .left text {
	font-weight: 600;
}

.goodsList {
	padding: 20rpx;
	box-sizing: border-box;
}

.goodsList .list {
	padding: 20rpx;
	box-sizing: border-box;
	background-image: url('https://img.alicdn.com/imgextra/i1/2215984279448/O1CN01nU34Hl2JfEst1ZcTG_!!2215984279448.png');
	background-size: 100% 100%;
	/* border: 1px solid #00e1db; */
	/* background-color: #fff; */
	margin-bottom: 20rpx;
}

.goodsList .list .goods {
	display: flex;
	padding-bottom: 20rpx;
	border-bottom: 1rpx solid #00e1db;
}
.goodsList .list .goods1{
	display: flex;
	align-items: center;
}
.goodsList .list .goods1 .info{
	margin-left: 20rpx;
	width: 380rpx;
}
.goodsList .list .goods1 .tit{
	font-size: 30rpx;
	font-weight: bold;
	margin-bottom: 20rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.goodsList .list .goods1 .row{
	color: #999;
}
.goodsList .list .goods1 .state{
	font-weight: bold;
	font-size: 28rpx;
	color: #00fdeb;
	margin-left: 16rpx;
	flex-shrink: 0;
}
.goodsList .list .goods image,.goodsList .list .goods1 image  {
	width: 150rpx;
	height: 150rpx;
	flex-shrink: 0;
}

.goods .info {
	margin-left: 20rpx;
	width: 100%;
}

.goods .info .bi {
	color: #00fdeb;
	margin-top: 26rpx;
}

.goods .info .bi text {
	font-size: 30rpx;
	margin-right: 10rpx;
	font-weight: bold;
}

.goods .info .time {
	color: #00fdeb;
	font-size: 24rpx;
	margin-top: 15rpx;
}

.tip {
	padding-top: 10rpx;
}

.tip .tit {
	font-size: 24rpx;
	color: #00fdeb;
}

.tip .tit text {
	color: #00fdeb;
	font-weight: bold;
}

.tip .btns {
	width: 100%;
	justify-content: flex-end;
}

.tip .btn,.bottom11 .btn {
	padding: 12rpx 50rpx;
	/* margin-left: 20rpx;
	margin-top: 20rpx; */
	margin: 10rpx 10rpx 0;
	white-space: nowrap;
}
.tip .btns .btn:last-child{
	margin-right: 0;
}

.tip .ti,.bottom11 .ti{
	border: 1rpx solid #00fdeb;
	color: #00fdeb;
	border-radius: 6rpx;
}

.tip .dui,.bottom11 .dui{
/* 	background-color: #70DDE0;
	border: 1rpx solid #70DDE0; */
	background-image: url('https://img.alicdn.com/imgextra/i3/2215984279448/O1CN01Jc69lY2JfEt2sFHdt_!!2215984279448.png');
	color: #00fdeb;
	background-size: 100% 100%;
}

.againbox {
	position: relative;
}

.again {
	position: absolute;
	right: -5rpx;
	top: -16rpx;
	padding: 8rpx 10rpx;
	background-color: #06433e;
	color: #00fdeb;
	border-radius: 10rpx;
	font-size: 20rpx;
}

.newagain {
	position: fixed;
	left: 30rpx;
	bottom: 200rpx;
	color: #00fdeb;
	background-image: url("https://img.alicdn.com/imgextra/i2/2215984279448/O1CN019QzoTq2JfEt6rQsRS_!!2215984279448.png");
	background-size: 100% 100%;
	width: 400rpx;
	height: 80rpx;
	font-size: 26rpx;
	line-height: 60rpx;
	text-align: center;
	/* background-image: linear-gradient(#8DE7EC, #e6ffff);
	border: 1rpx solid #D1FBFE;
	padding: 20rpx 40rpx;
	border-radius: 60rpx;
	box-shadow: 0 10rpx 30rpx #BFD7DB; */
}
.zhuan{
	width: 600rpx;
	text-align: center;
	padding: 30rpx;
	box-sizing: border-box;
	background-color: #fff;
}
.zhuan .tit{
	font-weight: bold;
	font-size: 32rpx;
	margin-bottom: 30rpx;
}
.zhuan .tip{
	color: #fa3534;
	margin-top: 10rpx;
}
.zhuan .btns1{
	display: flex;
	justify-content: space-between;
	margin-top: 40rpx;
}
.zhuan .btns1 .btn11{
	width: 45%;
	line-height: 70rpx;
	border-radius: 10rpx;
}
.zhuan .btns1 .a{
	background-color: #F3F3F3;
}
.zhuan .btns1 .b{
	background-color: #70DDE0;
}
.bottom11{
	padding: 20rpx 30rpx;
	background-color: #fff;
	position: fixed;
	left: 0;
	/* #ifdef H5 */
	bottom: 44px;
	/* #endif */
	/* #ifndef H5 */
	bottom: 0;
	/* #endif */
	box-sizing: border-box;
	width: 750rpx;
	border-top: 1rpx solid #F3F3F3;
}
.topNav{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9;
}